.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;


}

header img {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 25%;
    margin: 2px;
}

header span {
    font-size: 1.2rem;
    flex: 1;
    margin-left: 8px;
}

h1 {
    font-size: 1.5rem;
    margin: 10px;
}

.hamburger {
    background: none;
    border: solid 1px #ddd;
    color: #3d405b;
    cursor: pointer;
    width: 44px;
    height: 44px;
    font-size: 2rem;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
    background: white;
    border-bottom: solid 1px #ddd;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.navigation.show {
    display: block;

}

.navigation li.current {
    background-color: #ddd;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu a {
    display: block;
    text-decoration: none;
    color: #3d405b;
    padding: 15px 10px;
    border-bottom: solid 1px #eee;
    justify-content: center;
}

#menu a:hover {
    background-color: #f7d7d7;
}


.about,
.profile,
.course-id {
    display: block;
    background-color: #ddd;
    border: 1px solid #676767;
    margin: 10px;
}

.about p {
    padding: 10px;
}

.profile {
    display: flex;
    flex-direction: column;
}

.profile img {
    display: block;
    height: auto;
    justify-self: center;
    align-self: center;
    margin: 10px;
    height: 200px;
    min-height: 100px;
    width: 200px;
    min-width: 100px;
}

.about h2,
.profile h2,
.course-id h2 {
    text-align: center;
    justify-self: start;
    background-color: black;
    color: #ffffff;
    width: 100%;
    position: relative;
    margin-top: 0;
}

.course-id {
    display: block;
    background-color: #ddd;
    border: 1px solid #676767;
    margin: 10px;
    padding: 10px;
    min-height: 300px;
}

.course-id p {
    margin: 1rem;
    padding: 1rem;
    justify-self: start;
    align-self: start;

}

.course-btn {
    display: flex;
    justify-content: center;
    column-gap: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.course-btn button:hover {
    background-color: #f7d7d7;
    border-radius: 30px;
}

.course-btn button {
    background: #df8686;
    border: solid 1px #000000;
    color: #23253d;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 5px 15px;
    border-radius: 22px;
    margin-bottom: 10px;
}

.courselist {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.course-card {
    width: 200px;
    padding: 12px;
    border-radius: 10px;
    background-color: #ddd;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    padding: 15px;
}

.course-card.completed {
    background-color: #00af14;
    color: white;
}

.courseList .courseCard li {
    list-style-type: none;
}

footer {
    background-color: #a4a5b0;
    padding: 1rem 10px;
    text-align: center;
    margin-bottom: 0px;
    display: relative;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
}

.social a:hover {
    background-color: #f7d7d7;
    border-radius: 30px;
}

.social img {
    width: 32px;
    height: 32px;
}