@media only  screen and (min-width: 38rem){ 
    
    header, main, nav, footer{
        max-width: 900px;
        margin: 0 auto ;
    }
    header{
        grid-template-columns: 24px auto;
    }
    .hamburger{
        display: none;
    }   
    .navigation{
        display: block;
        border-bottom: solid 1px #ddd;
        
    }
    .navigation ul {
        display: flex;

    }
    
    .navigation a {
       border: none;
    }
    #menu a:hover {
        background-color: #df8686;
    }
    .main-content{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
    }
    .profile  img{
        display: block;
        height: auto;
        justify-self: center;
        align-self: center;
        margin: 10px;
        height: 200px;
        min-height: 100px;
        width: 200px;
        min-width:100x;
    }

}     